body {
  margin: 0px;
  padding: 0px;
  background-color: #FFEFE7;
  font-family: "IBM Plex Sans", sans-serif;
}

nav {
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #7C6A0A;
  padding: 15px;
}
nav p {
  font-size: 1.5em;
  padding-left: 30px;
}
nav .icons {
  display: flex;
  gap: 15px;
}
nav .icons button {
  background: none;
  border-style: none;
}

article {
  width: auto;
  color: #7C6A0A;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 45px;
  padding-right: 45px;
}
article .impact-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 50px;
  gap: 25px;
}
article h1 {
  font-size: 3em;
  padding: 0px;
  margin: 0px;
}
article p {
  font-size: 1.5em;
}
article button {
  background: none;
  border-style: none;
}
article button {
  width: 12vw;
  padding: 20px;
  background-color: #FA9500;
  border-radius: 35px;
  color: white;
  font-size: 1em;
  transition: transform 0.4s;
}
article button:hover {
  transform: scale(1.1);
}
article img {
  width: 25vw;
  border-radius: 20px;
}

section {
  width: auto;
  height: auto;
  padding: 60px;
}
section h2 {
  color: #7C6A0A;
  font-size: 2em;
}
section .healthcare, section .furniture {
  padding-bottom: 60px;
}
section .healthcare h2, section .furniture h2 {
  font-weight: 300;
  padding-bottom: 60px;
}
section .healthcare .card-section, section .furniture .card-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: auto;
  height: auto;
  flex-wrap: wrap;
  -moz-column-gap: 150px;
       column-gap: 150px;
  row-gap: 80px;
}
section .healthcare .product-card, section .furniture .product-card {
  width: 15vw;
  height: 52vh;
  background-color: #FFDAC6;
  color: #7C6A0A;
  padding: 20px;
  border-radius: 8px;
}
section .healthcare .product-card .icon, section .furniture .product-card .icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-bottom: 12px;
}
section .healthcare .product-card .icon svg, section .furniture .product-card .icon svg {
  width: 28px;
  height: 28px;
  stroke: #7C6A0A;
}
section .healthcare .product-card .product-image, section .furniture .product-card .product-image {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .healthcare .product-card .product-image img, section .furniture .product-card .product-image img {
  width: 100%;
  height: 30vh;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 6px;
}
section .furniture .product-card {
  background-color: #BABD8D;
  color: white;
}

.about-us, .gallery {
  padding-bottom: 60px;
}
.about-us h2, .gallery h2 {
  font-weight: bold;
  padding-bottom: 60px;
}
.about-us .mission-section, .gallery .mission-section {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.about-us .mission-section .earth, .gallery .mission-section .earth, .about-us .mission-section .innovation, .gallery .mission-section .innovation {
  width: 30vw;
  display: flex;
  gap: 40px;
  color: #E86424;
}
.about-us .mission-section .earth img, .gallery .mission-section .earth img, .about-us .mission-section .innovation img, .gallery .mission-section .innovation img {
  -o-object-fit: contain;
     object-fit: contain;
}
.about-us .mission-section .earth p, .gallery .mission-section .earth p, .about-us .mission-section .innovation p, .gallery .mission-section .innovation p {
  text-align: center;
  font-size: 1.5em;
}
.gallery-images {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.gallery-images img {
  aspect-ratio: 1/1;
  width: 30%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 5px 35%;
     object-position: 5px 35%;
  border-radius: 16px;
  transition: transform 0.4s;
}
.gallery-images img:hover {
  transform: scale(1.1);
}

.location {
  color: #E86424;
}
.location h2 {
  padding-bottom: 60px;
}
.location .map {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.location .map img {
  -o-object-fit: contain;
     object-fit: contain;
}

footer {
  background-color: #FA9500;
  height: auto;
  color: white;
  padding-left: 60px;
  padding-top: 40px;
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-bottom: 40px;
}

@media (max-width: 425px) {
  article {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  article .impact-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  article .impact-section h1 {
    font-size: 2em;
  }
  article .impact-section p {
    font-size: 1em;
    text-align: justify;
  }
  article .impact-section button {
    width: auto;
  }
  article .image-section {
    margin-top: 20px;
  }
  article .image-section img {
    width: 52vw;
  }
  .product-section {
    padding: 0 40px;
  }
  .product-section .healthcare, .product-section section .furniture, section .product-section .furniture {
    padding-bottom: 0;
  }
  .product-section .healthcare .card-section, .product-section section .furniture .card-section, section .product-section .furniture .card-section {
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 40px;
  }
  .product-section .healthcare .card-section .product-card, .product-section section .furniture .card-section .product-card, section .product-section .furniture .card-section .product-card {
    width: 40vw;
  }
  section .furniture h2 {
    padding-bottom: 0;
  }
  section .furniture .card-section {
    -moz-column-gap: 80px;
         column-gap: 80px;
    row-gap: 40px;
  }
  section .furniture .card-section .product-card {
    width: 40vw;
  }
  .info-section {
    padding: 0 40px;
  }
  .info-section .about-us h2, .info-section .gallery h2 {
    padding-bottom: 12px;
  }
  .info-section .about-us .mission-section, .info-section .gallery .mission-section {
    flex-direction: column;
  }
  .info-section .about-us .mission-section .earth, .info-section .gallery .mission-section .earth, .info-section .about-us .mission-section .innovation, .info-section .gallery .mission-section .innovation {
    align-items: center;
    gap: 4px;
    width: auto;
  }
  .info-section .about-us .mission-section .earth img, .info-section .gallery .mission-section .earth img, .info-section .about-us .mission-section .innovation img, .info-section .gallery .mission-section .innovation img {
    width: 120px;
  }
  .info-section .about-us .mission-section .earth p, .info-section .gallery .mission-section .earth p, .info-section .about-us .mission-section .innovation p, .info-section .gallery .mission-section .innovation p {
    font-size: 0.9em;
  }
  .gallery {
    padding-bottom: 0;
  }
  .gallery h2 {
    margin: 0;
  }
  .gallery .gallery-images {
    flex-direction: column;
  }
  .gallery .gallery-images img {
    width: 100%;
    margin-bottom: 24px;
  }
  .location h2 {
    padding-bottom: 0;
  }
  .location .map {
    margin-bottom: 20px;
    width: 100%;
  }
  .location .map .map-description h3 {
    font-size: 1em;
    margin-top: 12px;
    margin-bottom: 0;
  }
  .location .map .map-description p {
    font-size: 0.8em;
    margin: 0;
  }
  footer {
    padding: 8px 40px;
  }
  .social-media {
    padding: 12px 0 0 0px;
    padding-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */