@media(max-width:425px) {
  article{
    padding: 0 40px;
    @include flexCenter (column, center, center);
    .impact-section {
      @include flexCenter (column, center, center);
      gap: 8px;
      h1 {
        font-size: 2em;
      }
      p {
        font-size:1em ;
        text-align: justify;
      }
      button {
        width: auto;
      }
    }
    .image-section{
      margin-top: 20px;
      img {
        width: 52vw
      }  
    }
  }
  .product-section {
    padding: 0 40px;
    .healthcare {
      padding-bottom: 0;
      .card-section{
        column-gap: 80px;
        row-gap: 40px;
        .product-card{
          width: 40vw;
        }
      }
    }
  }
  section .furniture {
    h2{
      padding-bottom: 0;
    }
    .card-section {
      column-gap: 80px;
      row-gap: 40px;

      .product-card {
        width: 40vw;
      }
    }
    
  }
  .info-section {
    padding: 0 40px;
    .about-us  {
      h2 {
        padding-bottom: 12px;
      }
      .mission-section {
        flex-direction: column;
        .earth {
          align-items: center;
          gap: 4px;
          width: auto;
          img{
            width: 120px;
          }
          p{
            font-size: 0.9em;
          }
        }

      }
    }
  }
  .gallery {
    padding-bottom: 0;
    h2 {
      margin: 0;
    }
    .gallery-images {
      flex-direction: column;
      img {
        width: 100%;
        margin-bottom: 24px;
      }
    }
  }
  .location {
    h2{
      padding-bottom: 0;
    }
    .map {
      margin-bottom: 20px;
      width: 100%;
      .map-description{
        h3{
          font-size: 1em;
          margin-top: 12px;
          margin-bottom: 0;
        }
        p {
          font-size: 0.8em;
          margin: 0;
        }
      }
    }
  }
  footer {
    padding: 8px 40px;
  }
  .social-media {
    padding: 12px 0 0 0px; 
    padding-bottom: 0;
  }
}